/**
 * @name Noctalia Material
 * @version 3.0.6
 * @description A fork of 'Material Discord' for Noctalia Shell
 * @author CapnKitten
 *
 * @website http://github.com/CapnKitten
 * @source https://github.com/CapnKitten/BetterDiscord/blob/master/Themes/Material-Discord/css/source.css
 * @donate https://paypal.me/capnkitten
 * @invite jzJkA6Z
 */

@import url("https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/css/source.css");

/* Material You addon */
@import url("https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/css/addons/material-you/source.css");




/* MATERIAL YOU DARK THEME SETTINGS */
.theme-dark {
    --saturation-modifier: 0.31;
    --lightness-modifier: 0.225;
    --text-lightness-modifier: 1.0;
}

/* MATERIAL YOU LIGHT THEME SETTINGS */
.theme-light {
    --saturation-modifier: 0.74;
    --lightness-modifier: 2.125;
    --text-lightness-modifier: 1.0;
}

:root, .theme-dark, .theme-light {
  /* See options at https://github.com/CapnKitten/Material-Discord */
  /* Accent */
  --accent-hue: 336;
  --accent-saturation: 65%;
  --accent-lightness: 85%;
  --accent-text-color: #2a1b21;

  /* App */
  --app-bg: #2a1922;
  --main-color: #2a1922;
  --main-alt: #2a1922;
  --server-color: #2a1922;
  --status-picker-color: #4d3745;
  --sidebar-panel-color: #4d3745;
  --chat-color: #2a1922;
  --tooltip-color: #2a1922;
  --tooltip-text-color: #f3c7d7;

  /* Message */
  --message-color: #4d3745;
  --message-color-hover: hsl(
    var(--accent-hue),
    calc(var(--accent-saturation) * var(--saturation-modifier) * var(--saturation-factor)),
    calc(var(--accent-lightness) * var(--lightness-modifier) * var(--ui-darkness-modifier) * 4)
  ) !important;
  --message-color-alt: #2a1b21;
  --attachment-color: #2a1b21;
  --main-textarea-color: #f2c1d4;
  --main-textarea-button-color: #2a1b21;
  --main-textarea-color-alt: #ffd6e2;
  --main-textarea-border: #4d3745;

  /* Card */
  --card-color-filled: #4d3745;
  --card-color-hover: #9b315a;
  --card-color-active: #9b315a;
  --card-color-alt: #ff2464;
  --card-color-alt-hover: #ffd6e2;
  --card-border-color: #4d3745;
  --card-header-text-color: #f3c7d7;

  /* Slider & Switch */
  --switch-knob-color: #4d3745;
  --switch-slider-color: #2a1922;

  /* Input */
  --input-text-color: #f3c7d7;

  /* Misc */
  --app-watermark-one: "Noctalia";
  --app-watermark-two: "Discord";

  /* Ensure channels-default is different from the active one - works in dark mode / light mode is another story... */
  --text-tertiary: hsl(
        var(--accent-hue),
        calc(var(--accent-saturation) * var(--saturation-modifier) * 0.78 * var(--saturation-factor)),
        calc(var(--accent-lightness) * var(--lightness-modifier) * var(--ui-darkness-modifier) * var(--text-lightness-modifier) * 3.0)
    ) !important;
}
